.reveal .title    { font-size: 100%; }
.reveal .subtitle { font-size: 90%; }
.reveal .author   { font-size: 90%; }
.reveal .date     { font-size: 90%; }

.reveal .subtitle,
.reveal .author,
.reveal .date {
	font-weight: 100;
	text-transform: none;
}

.reveal .subtitle {
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 2px solid #aaa;
}

.reveal .author,
.reveal .date {
	font-size: 60%;
}

.reveal h1 { font-size: 120%; }
.reveal h2 { font-size: 100%; }

.reveal .slide-number {
	font-size: 50%;
	color: #888;
	background: none;
	bottom: 2em;
	right: 2em;
	padding: 0;
}

.reveal a { color: black; }

img {
	border: none!important;
	box-shadow: none!important;
}

.header {
	position: fixed;
	left: 2em;
	right: 2em;
	top: 2em;
}
.header img { height: 4em; }
.header .left  { float: left; }
.header .right { float: right; }
.header:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
	position: fixed;
	bottom: 0em;
	left: 0;
	right: 0;
	padding: 2em;
}
.footer .left  {
	position: fixed;
}
.footer .center {
	text-align: center;
	left: 0;
	right: 0; 
}
.footer span {
	font-size: 120%;
	line-height: 1.7em;
	color: #888;
}

.reveal .slides {
	text-align: left;
}

.reveal .slides > section {
	padding-top: 3em;
}

.reveal figure {
	text-align: center;
}

.reveal figcaption {
	font-size: 60%;
	text-align: center;
}

.reveal #TOC ul {
	font-size: 120%;
	list-style-type: none;
}

.reveal pre {
	box-shadow: none;
}

